@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 10px;              
}

::-webkit-scrollbar-track {
  background: #1f1f1f;      
}

::-webkit-scrollbar-thumb {
  background-color: #ff007f; 
  border-radius: 10px;       
  border: 2px solid #1f1f1f;
}