@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Esconder scrollbar mas manter funcionalidade */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Garantir scroll suave */
.scroll-smooth {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;              
}

::-webkit-scrollbar-track {
  background: #1f1f1f;      
}

::-webkit-scrollbar-thumb {
  background-color: #ff007f; 
  border-radius: 10px;       
  border: 2px solid #1f1f1f;
}